Package: pingenator
Version: __version__
Section: utils
Priority: optional
Architecture: __arch__
Installed-Size: __size__
Depends: python3
Maintainer: Michael D Labriola <veggiemike@sourceruckus.org>
Homepage: https://github.com/sourceruckus/pingenator
Description: Pingenator - a super ping tool
 Pingenator's primary use-case is checking internet connectivity by
 pinging a list of hosts.  The pinging is done in parallel, so you can
 ping a dozen hosts once and have the results in 1 second instead of
 12.
